<ag-grid-angular
  style="width: 100%; height: 6rem"
  class="hidden md:block ag-theme-alpine"
  [columnDefs]="colDef"
  [defaultColDef]="defaultColDef"
  [rowData]="[move]"
  (gridReady)="onGridReady()"
></ag-grid-angular>

<table class="visible md:hidden table-auto w-full">
  <tr>
    <th>
      {{ 'Moves.Attributes.Name' | translate }}
    </th>
    <th>
      {{ 'Moves.Attributes.Value' | translate }}
    </th>
  </tr>
  <tbody *ngIf="move">
    <tr *ngFor="let col of colDef">
      <td>{{ col.headerName! | translate }}</td>
      <td>{{ getValueForMoveProperty(col.field) }}</td>
    </tr>
  </tbody>
</table>
