<div *ngIf="!gifLoadedError; else noGifAvailable">
  <div class="gif-content">
    <img
      #moveImage
      class="w-full"
      [src]="'https://i.fightcore.gg/melee/moves/' + characterName + '/' + move!.normalizedName + '.gif'"
      width="100%"
      (error)="onImageError()"
      [alt]="move!.normalizedName + '-gif'"
    />
  </div>

  <div class="inline">
    <button
      aria-label="Go to previous frame"
      mat-icon-button
      [disabled]="superGif?.isPlaying()"
      (click)="previousFrame()"
    >
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button aria-label="Pause or play the gif" mat-icon-button (click)="pauseGif()">
      <mat-icon>{{ superGif?.isPlaying() ? 'pause' : 'play_arrow' }}</mat-icon>
    </button>
    <button aria-label="Go to the next frame" mat-icon-button [disabled]="superGif?.isPlaying()" (click)="nextFrame()">
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>
  <p class="inline" *ngIf="superGif">
    {{ 'Hitboxes.FrameInGIF' | translate : { frame: superGif.getCurrentFrame() } }}
  </p>
</div>

<ng-template #noGifAvailable><i>No GIF available.</i></ng-template>
