<div class="hidden md:block">
  <table *ngIf="moves" mat-table [dataSource]="moves" class="w-full">
    <ng-container *ngFor="let column of colDef" [matColumnDef]="column.field">
      <th mat-header-cell *matHeaderCellDef>{{ column.headerName | translate }}</th>
      <td mat-cell *matCellDef="let move">{{ getValueForMoveProperty(move, column.field) }}</td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef>{{ 'Moves.View' | translate }}</th>
      <td mat-cell *matCellDef="let move">
        <a mat-raised-button color="primary" [routerLink]="moveUrl(move)">
          {{ 'Common.View' | translate }}
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<table class="visible md:hidden table-auto w-full">
  <tr>
    <th>
      {{ 'Moves.Attributes.Name' | translate }}
    </th>
    <th>
      {{ 'Moves.Attributes.Value' | translate }}
    </th>
  </tr>
  <tbody *ngIf="moves">
    <tr *ngFor="let col of colDef">
      <td>{{ col.headerName! | translate }}</td>
      <td>{{ getValueForMoveProperty(moves[0], col.field) }}</td>
    </tr>
  </tbody>
</table>
