<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <img
        width="75"
        height="75"
        [alt]="character!.name"
        loading="lazy"
        [src]="environment.siteUrl + '/assets/images/stocks/' + character!.normalizedName + '.png'"
      />
    </div>
    <mat-card-title>{{ character!.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-character-statistics [frameDataCharacter]="character"></app-character-statistics>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button [routerLink]="viewCharacterUrl()" color="primary" class="w-full">
      {{ 'Common.View' | translate }}
    </a>
  </mat-card-actions>
</mat-card>
