USE [master]
GO
/****** Object:  Database [FrameData]    Script Date: 11/22/2022 9:54:34 PM ******/
CREATE DATABASE [FrameData]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FrameData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FrameData]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/22/2022 9:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CharacterMiscInfo]    Script Date: 11/22/2022 9:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterMiscInfo](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Discord] [nvarchar](max) NULL,
	[MeleeFrameData] [nvarchar](max) NULL,
	[SsbWiki] [nvarchar](max) NULL,
 CONSTRAINT [PK_CharacterMiscInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Characters]    Script Date: 11/22/2022 9:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Characters](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[NormalizedName] [nvarchar](max) NULL,
	[FightCoreId] [bigint] NOT NULL,
	[CharacterStatisticsId] [bigint] NULL,
	[CharacterInfoId] [bigint] NULL,
 CONSTRAINT [PK_Characters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CharacterStatistics]    Script Date: 11/22/2022 9:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterStatistics](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Weight] [int] NOT NULL,
	[Gravity] [float] NOT NULL,
	[WalkSpeed] [float] NOT NULL,
	[RunSpeed] [float] NOT NULL,
	[WaveDashLengthRank] [int] NOT NULL,
	[PLAIntangibilityFrames] [int] NOT NULL,
	[JumpSquat] [int] NOT NULL,
	[CanWallJump] [bit] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[DashFrames] [int] NOT NULL,
	[InitialDash] [float] NOT NULL,
	[WaveDashLength] [float] NOT NULL,
 CONSTRAINT [PK_CharacterStatistics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hitbox]    Script Date: 11/22/2022 9:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hitbox](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Damage] [bigint] NOT NULL,
	[Angle] [bigint] NOT NULL,
	[KnockbackGrowth] [bigint] NOT NULL,
	[SetKnockback] [bigint] NOT NULL,
	[BaseKnockback] [bigint] NOT NULL,
	[Effect] [nvarchar](max) NULL,
	[HitlagAttacker] [int] NOT NULL,
	[HitlagDefender] [int] NOT NULL,
	[Shieldstun] [int] NOT NULL,
	[MoveId] [bigint] NULL,
 CONSTRAINT [PK_Hitbox] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Move]    Script Date: 11/22/2022 9:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Move](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[NormalizedName] [nvarchar](max) NULL,
	[LandLag] [int] NULL,
	[LCanceledLandLag] [int] NULL,
	[TotalFrames] [int] NOT NULL,
	[IASA] [int] NULL,
	[AutoCancelBefore] [int] NULL,
	[AutoCancelAfter] [int] NULL,
	[CharacterId] [bigint] NOT NULL,
	[Type] [int] NOT NULL,
	[End] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[Percent] [int] NULL,
	[Start] [int] NULL,
	[Source] [nvarchar](max) NULL,
 CONSTRAINT [PK_Move] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200817221334_AppInit', N'3.1.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200818171643_NullablePropsIsa', N'3.1.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200819144143_AddedMoveType', N'3.1.7')
SET IDENTITY_INSERT [dbo].[CharacterMiscInfo] ON 

INSERT [dbo].[CharacterMiscInfo] ([Id], [Discord], [MeleeFrameData], [SsbWiki]) VALUES (1, N'https://discord.com/invite/DEY5p65', N'http://meleeframedata.com/captain_falcon', N'https://www.ssbwiki.com/Captain_Falcon_(SSBM)')
INSERT [dbo].[CharacterMiscInfo] ([Id], [Discord], [MeleeFrameData], [SsbWiki]) VALUES (2, N'https://discord.com/invite/0qT5OfmhEdgeH20c', N'http://meleeframedata.com/roy', N'https://www.ssbwiki.com/Roy_(SSBM)')
INSERT [dbo].[CharacterMiscInfo] ([Id], [Discord], [MeleeFrameData], [SsbWiki]) VALUES (3, N'https://discord.com/invite/bzD5Pfc', N'http://meleeframedata.com/pichu', N'https://www.ssbwiki.com/Pichu_(SSBM)')
SET IDENTITY_INSERT [dbo].[CharacterMiscInfo] OFF
SET IDENTITY_INSERT [dbo].[Characters] ON 

INSERT [dbo].[Characters] ([Id], [Name], [NormalizedName], [FightCoreId], [CharacterStatisticsId], [CharacterInfoId]) VALUES (27, N'Captain Falcon', N'captainfalcon', 227, 27, 1)
INSERT [dbo].[Characters] ([Id], [Name], [NormalizedName], [FightCoreId], [CharacterStatisticsId], [CharacterInfoId]) VALUES (28, N'Roy', N'roy', 223, 28, 2)
INSERT [dbo].[Characters] ([Id], [Name], [NormalizedName], [FightCoreId], [CharacterStatisticsId], [CharacterInfoId]) VALUES (29, N'Pichu', N'pichu', 221, 29, 3)
SET IDENTITY_INSERT [dbo].[Characters] OFF
SET IDENTITY_INSERT [dbo].[CharacterStatistics] ON 

INSERT [dbo].[CharacterStatistics] ([Id], [Weight], [Gravity], [WalkSpeed], [RunSpeed], [WaveDashLengthRank], [PLAIntangibilityFrames], [JumpSquat], [CanWallJump], [Notes], [DashFrames], [InitialDash], [WaveDashLength]) VALUES (27, 104, 2.9, 0.85, 2.3, 20, 10, 4, 1, N'', 15, 2.16, 27.3)
INSERT [dbo].[CharacterStatistics] ([Id], [Weight], [Gravity], [WalkSpeed], [RunSpeed], [WaveDashLengthRank], [PLAIntangibilityFrames], [JumpSquat], [CanWallJump], [Notes], [DashFrames], [InitialDash], [WaveDashLength]) VALUES (28, 85, 2.4, 1.2, 1.61, 6, 5, 5, 0, N'', 15, 1.47, 38.97)
INSERT [dbo].[CharacterStatistics] ([Id], [Weight], [Gravity], [WalkSpeed], [RunSpeed], [WaveDashLengthRank], [PLAIntangibilityFrames], [JumpSquat], [CanWallJump], [Notes], [DashFrames], [InitialDash], [WaveDashLength]) VALUES (29, 55, 1.9, 1.24, 1.72, 22, 15, 3, 1, N'', 13, 1.72, 24.4)
SET IDENTITY_INSERT [dbo].[CharacterStatistics] OFF
SET IDENTITY_INSERT [dbo].[Hitbox] ON 

INSERT [dbo].[Hitbox] ([Id], [Name], [Damage], [Angle], [KnockbackGrowth], [SetKnockback], [BaseKnockback], [Effect], [HitlagAttacker], [HitlagDefender], [Shieldstun], [MoveId]) VALUES (1613, N'id0', 6, 361, 100, 0, 30, N'Normal', 0, 0, 4, 698)
INSERT [dbo].[Hitbox] ([Id], [Name], [Damage], [Angle], [KnockbackGrowth], [SetKnockback], [BaseKnockback], [Effect], [HitlagAttacker], [HitlagDefender], [Shieldstun], [MoveId]) VALUES (1614, N'id1', 3, 270, 50, 0, 10, N'Normal', 0, 0, 3, 707)
INSERT [dbo].[Hitbox] ([Id], [Name], [Damage], [Angle], [KnockbackGrowth], [SetKnockback], [BaseKnockback], [Effect], [HitlagAttacker], [HitlagDefender], [Shieldstun], [MoveId]) VALUES (1615, N'id0', 3, 361, 50, 0, 10, N'Normal', 0, 0, 3, 707)
GO
SET IDENTITY_INSERT [dbo].[Hitbox] OFF
SET IDENTITY_INSERT [dbo].[Move] ON 

INSERT [dbo].[Move] ([Id], [Name], [NormalizedName], [LandLag], [LCanceledLandLag], [TotalFrames], [IASA], [AutoCancelBefore], [AutoCancelAfter], [CharacterId], [Type], [End], [Notes], [Percent], [Start], [Source]) VALUES (698, N'unknown', N'unknown', NULL, NULL, 0, NULL, NULL, NULL, 52, 0, NULL, NULL, NULL, NULL, N'http://meleeframedata.com/')
INSERT [dbo].[Move] ([Id], [Name], [NormalizedName], [LandLag], [LCanceledLandLag], [TotalFrames], [IASA], [AutoCancelBefore], [AutoCancelAfter], [CharacterId], [Type], [End], [Notes], [Percent], [Start], [Source]) VALUES (699, N'Forward throw', N'fthrow', NULL, NULL, 52, NULL, NULL, NULL, 30, 6, 0, NULL, NULL, 0, N'http://meleeframedata.com/')
INSERT [dbo].[Move] ([Id], [Name], [NormalizedName], [LandLag], [LCanceledLandLag], [TotalFrames], [IASA], [AutoCancelBefore], [AutoCancelAfter], [CharacterId], [Type], [End], [Notes], [Percent], [Start], [Source]) VALUES (700, N'Back throw', N'bthrow', NULL, NULL, 52, NULL, NULL, NULL, 30, 6, 0, NULL, NULL, 0, N'http://meleeframedata.com/')
GO
SET IDENTITY_INSERT [dbo].[Move] OFF
/****** Object:  Index [IX_Characters_CharacterInfoId]    Script Date: 11/22/2022 9:54:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Characters_CharacterInfoId] ON [dbo].[Characters]
(
	[CharacterInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Characters_CharacterStatisticsId]    Script Date: 11/22/2022 9:54:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Characters_CharacterStatisticsId] ON [dbo].[Characters]
(
	[CharacterStatisticsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Hitbox_MoveId]    Script Date: 11/22/2022 9:54:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Hitbox_MoveId] ON [dbo].[Hitbox]
(
	[MoveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Move_CharacterId]    Script Date: 11/22/2022 9:54:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Move_CharacterId] ON [dbo].[Move]
(
	[CharacterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CharacterStatistics] ADD  DEFAULT ((0)) FOR [DashFrames]
GO
ALTER TABLE [dbo].[CharacterStatistics] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [InitialDash]
GO
ALTER TABLE [dbo].[CharacterStatistics] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [WaveDashLength]
GO
ALTER TABLE [dbo].[Move] ADD  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[Characters]  WITH CHECK ADD  CONSTRAINT [FK_Characters_CharacterMiscInfo_CharacterInfoId] FOREIGN KEY([CharacterInfoId])
REFERENCES [dbo].[CharacterMiscInfo] ([Id])
GO
ALTER TABLE [dbo].[Characters] CHECK CONSTRAINT [FK_Characters_CharacterMiscInfo_CharacterInfoId]
GO
ALTER TABLE [dbo].[Characters]  WITH CHECK ADD  CONSTRAINT [FK_Characters_CharacterStatistics_CharacterStatisticsId] FOREIGN KEY([CharacterStatisticsId])
REFERENCES [dbo].[CharacterStatistics] ([Id])
GO
ALTER TABLE [dbo].[Characters] CHECK CONSTRAINT [FK_Characters_CharacterStatistics_CharacterStatisticsId]
GO
ALTER TABLE [dbo].[Hitbox]  WITH CHECK ADD  CONSTRAINT [FK_Hitbox_Move_MoveId] FOREIGN KEY([MoveId])
REFERENCES [dbo].[Move] ([Id])
GO
ALTER TABLE [dbo].[Hitbox] CHECK CONSTRAINT [FK_Hitbox_Move_MoveId]
GO
ALTER TABLE [dbo].[Move]  WITH CHECK ADD  CONSTRAINT [FK_Move_Characters_CharacterId] FOREIGN KEY([CharacterId])
REFERENCES [dbo].[Characters] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Move] CHECK CONSTRAINT [FK_Move_Characters_CharacterId]
GO
USE [master]
GO
