<mat-toolbar *ngIf="mobileQuery && mobileQuery.matches" color="primary">
  <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
  <img class="logo" src="assets/images/Fightcore_Wordmark_white.svg" alt="FightCore" />
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    class="sidenav"
    [fixedInViewport]="true"
    [disableClose]="mobileQuery && !mobileQuery.matches"
    #drawer
    [mode]="mobileQuery && mobileQuery.matches ? 'over' : 'side'"
    [opened]="!mobileQuery || !mobileQuery.matches"
  >
    <app-menubar></app-menubar>
    <mat-divider></mat-divider>
    <button mat-button class="w-full" (click)="onClickToggleTheme()">
      <mat-icon>{{ useDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
      {{ 'MenuBar.SwitchTheme' | translate }}
    </button>
    <app-character-quick-picker></app-character-quick-picker>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
