<ng-template appOnlyClientSide>
  <div *ngIf="characters" class="m-3">
    <div class="character-stock-icon" *ngFor="let character of characters">
      <a [routerLink]="viewCharacterUrl(character)">
        <img
          width="50"
          height="50"
          class="cursor-pointer inline"
          [src]="environment.siteUrl + '/assets/images/stocks/' + character!.normalizedName + '.png'"
          [alt]="character.name"
        />
      </a>
    </div>
    <mat-divider></mat-divider>
    <h2>Special Characters</h2>
    <div class="character-stock-icon" *ngFor="let character of specialCharacters">
      <a [routerLink]="viewCharacterUrl(character)">
        <img
          width="50"
          height="50"
          class="cursor-pointer inline"
          [src]="environment.siteUrl + '/assets/images/stocks/' + character!.normalizedName + '.png'"
          [alt]="character.name"
          [matTooltip]="character!.name"
        />
      </a>
    </div>
  </div>
</ng-template>
