<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a [routerLink]="''">
      <img
        width="300"
        height="37"
        [src]="environment.siteUrl + '/assets/images/Fightcore_Wordmark_white.svg'"
        alt="FightCore"
      />
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<div class="p-3">
  <a mat-button class="cursor-pointer w-full" [routerLink]="'characters'">
    <mat-icon>person</mat-icon> {{ 'MenuBar.Characters' | translate }}
  </a>
  <a mat-button class="cursor-pointer w-full" [routerLink]="'compare-tool'">
    <mat-icon>compare_arrows</mat-icon> {{ 'MenuBar.CompareCharacters' | translate }}
  </a>
  <a mat-button class="cursor-pointer w-full" [routerLink]="'moves'" disabled>
    <mat-icon>dashboard</mat-icon> {{ 'MenuBar.Moves' | translate }}
  </a>
</div>
