<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img
      class="logo"
      src="assets/images/Fightcore_Wordmark_white.svg"
      alt="FightCore"
    />

    <span class="cursor-pointer ml-5" [routerLink]="'characters'">
      {{ "MenuBar.Characters" | translate }}
    </span>
    <span class="cursor-pointer ml-5" [routerLink]="'characters'">
      {{ "MenuBar.Moves" | translate }}
    </span>
    <span class="cursor-pointer ml-5" [routerLink]="'characters'">
      {{ "MenuBar.CompareTool" | translate }}
    </span>
  </mat-toolbar-row>
</mat-toolbar>
