<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img class="logo" [src]="environment.siteUrl + '/assets/images/Fightcore_Wordmark_white.svg'" alt="FightCore" />
  </mat-toolbar-row>
</mat-toolbar>
<div class="p-3 nav-buttons-container">
  <a mat-button class="cursor-pointer w-full" [routerLink]="'characters'">
    <mat-icon>person</mat-icon> {{ 'MenuBar.Characters' | translate }}
  </a>
  <a mat-button class="cursor-pointer w-full" [routerLink]="'moves'" disabled>
    <mat-icon>dashboard</mat-icon> {{ 'MenuBar.Moves' | translate }}
  </a>
  <a mat-button class="cursor-pointer w-full" [routerLink]="'compare-tool'">
    <mat-icon>compare_arrows</mat-icon> {{ 'MenuBar.CompareCharacters' | translate }}
  </a>
</div>
