$md-fightcore-red: (
    50 : #f2e3e7,
    100 : #e0b9c4,
    200 : #cb8a9d,
    300 : #b65b75,
    400 : #a63858,
    500 : #96153a,
    600 : #8e1234,
    700 : #830f2c,
    800 : #790c25,
    900 : #680618,
    A100 : #ff98a6,
    A200 : #ff657a,
    A400 : #ff324e,
    A700 : #ff1938,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-fightcore-green: (
    50 : #e3f2ee,
    100 : #b9e0d4,
    200 : #8acbb8,
    300 : #5bb69c,
    400 : #38a686,
    500 : #159671,
    600 : #128e69,
    700 : #0f835e,
    800 : #0c7954,
    900 : #066842,
    A100 : #98ffd2,
    A200 : #65ffbc,
    A400 : #32ffa5,
    A700 : #19ff9a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
