<table
  class="w-full table-fixed"
  matSort
  (matSortChange)="sortData($event)"
  matSortActive="value"
  matSortDirection="desc"
>
  <tr>
    <th mat-sort-header="name">Character</th>
    <th mat-sort-header="value">{{ statTranslationKey | translate }}</th>
  </tr>

  <tr *ngFor="let sortedValue of sortedValues">
    <td>
      <img
        class="cursor-pointer inline character-icon"
        [src]="environment.siteUrl + '/assets/images/stocks/' + sortedValue.normalizedName + '.png'"
        [alt]="sortedValue.name"
      />
      {{ sortedValue.name }}
    </td>
    <td>{{ sortedValue.value }}</td>
  </tr>
</table>
