<div *ngIf="!character; else characterData">
  {{ 'Common.Loading' | translate }}
</div>
<ng-template #characterData>
  <mat-toolbar class="mb-5" color="primary">
    <mat-toolbar-row>
      <p class="w-full text-center text-3xl">{{ character!.name }}</p>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="w-full toolbar-buttons">
        <button mat-button class="text-xl" (click)="navigateToSection('attributes')">
          {{ 'Characters.Attributes.Attributes' | translate }}
        </button>
        <button mat-button class="text-xl" (click)="navigateToSection('moves')">
          {{ 'Characters.Moves' | translate }}
        </button>
        <button mat-button class="text-xl" (click)="navigateToSection('moves-table')">
          {{ 'Characters.MovesTable' | translate }}
        </button>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="w-full toolbar-buttons">
        <button
          mat-button
          class="text-xl"
          *ngFor="let category of moveTypes"
          (click)="navigateToCategory(category.value)"
        >
          {{ category.name | translate }}
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar id="section-attributes" color="primary">
    <h2 class="w-full text-center">
      {{ 'Characters.Attributes.Attributes' | translate }}
    </h2>
  </mat-toolbar>

  <!-- <app-character-statistics-table [character]="character!.characterStatistics"></app-character-statistics-table> -->

  <mat-toolbar id="section-moves" color="primary">
    <h2 class="w-full text-center">
      {{ 'Characters.Moves' | translate }}
    </h2>
  </mat-toolbar>
  <app-move-list
    [moves]="character?.moves"
    [characterId]="character?.fightCoreId"
    [characterName]="character?.normalizedName"
  ></app-move-list>

  <mat-toolbar id="section-moves-table" color="primary">
    <h2 class="w-full text-center">
      {{ 'Characters.MovesTable' | translate }}
    </h2>
  </mat-toolbar>
  <!-- <app-moves-table [moves]="character!.moves"></app-moves-table> -->
</ng-template>
