<ag-grid-angular
  style="width: 100%; height: 30vh"
  class="hidden md:block"
  [class.ag-theme-alpine]="!useDarkMode"
  [class.ag-theme-alpine-dark]="useDarkMode"
  [columnDefs]="colDef"
  [defaultColDef]="defaultColDef"
  [rowData]="hitboxes"
  (gridReady)="onGridReady()"
></ag-grid-angular>

<table class="visible md:hidden table-auto">
  <tr>
    <th>
      {{ 'Moves.Attributes.Name' | translate }}
    </th>
    <th *ngFor="let hitbox of hitboxes">
      {{ getValueForHitboxProperty(hitbox, colDef[0].field) }}
    </th>
  </tr>
  <tbody *ngIf="hitboxes">
    <tr *ngFor="let col of colDef.slice(1)">
      <td>{{ col.headerName! | translate }}</td>
      <td *ngFor="let hitbox of hitboxes">
        {{ getValueForHitboxProperty(hitbox, col.field) }}
      </td>
    </tr>
  </tbody>
</table>
