<div class="hidden md:block">
  <table *ngIf="hitboxes" mat-table [dataSource]="hitboxes" class="w-full">
    <ng-container *ngFor="let column of colDef" [matColumnDef]="column.field">
      <th mat-header-cell *matHeaderCellDef>{{ column.headerName | translate }}</th>
      <td mat-cell *matCellDef="let hitbox">{{ getValueForHitboxProperty(hitbox, column.field) }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<table class="visible md:hidden table-auto small-table">
  <tr>
    <th>
      {{ 'Moves.Attributes.Name' | translate }}
    </th>
    <th *ngFor="let hitbox of hitboxes">
      {{ getValueForHitboxProperty(hitbox, colDef[0].field) }}
    </th>
  </tr>
  <tbody *ngIf="hitboxes">
    <tr *ngFor="let col of colDef.slice(1)">
      <td>{{ col.headerName! | translate }}</td>
      <td *ngFor="let hitbox of hitboxes">
        {{ getValueForHitboxProperty(hitbox, col.field) }}
      </td>
    </tr>
  </tbody>
</table>
